/*Main Common View*/

*,
*:after,
*:before {
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    margin: 0;
}

.header {
    padding: 2px;
    text-align: center;
    background: linear-gradient(to right,
            #4c94e0,
            #0a5fad);
    color: white;
}

.navbar {
    display: flex;
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side-left {
    flex: 15%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.side-right {
    flex: 15%;
    background-color: #f1f1f1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 5px;
    text-align: center;
    background: #ddd;
    margin-bottom: 0;
    width: 100%;
}

.user-content
{
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.user-content h3{
    margin-top: 22px;
    flex: 40%;
    text-align: left;
}


.userimg{
    flex: 60%;
    width: 100%;
    padding: 5px;
    display: inline-block;
}

.userimg .avatar{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-left: 50%;
    background-color: #aaa;
}

.editbar {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.editbar-list {
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    list-style-type: none;
}

.editbar-item {
    padding: 0;
    margin: 0;
    width: 100%;
}

.editbar-item + .editbar-item {
    margin-top: 20px;
}

.editbar-button {
    font: inherit;
    font-size: 1.5em;
    font-weight: 600;
    border: 0;
    padding: 0;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    align-items: center;
    position: relative;
    color: black;
}


.editbar-button svg {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    color: inherit;
}

.editbar-button:hover {
    background-color: white;
    color: #4c94e0;
}

#save-button:hover {
    color: #00a693;
}


#delete-button:hover {
    color: #e55137;

}

/*Edit view*/

.switch-container {
    display: table-cell;
    position: relative;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
}

.button-container {
    height: 100px;
    margin-top: 0;
    background-color: transparent;
}

.button-container:before {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 1;
    padding: 10px;
}

.button-container,
.knob,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 10%;
    width: 100px;
    height: 40px;
    margin-left: 0;
    overflow: hidden;
}

.button.r,
.button.r .layer {
    border-radius: 5px;
}


.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knob {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: rgba(66, 133, 180, 0.1);
    transition: 0.3s ease all;
    z-index: 1;
}

#switch .knob:before {
    content: "ON";
    position: absolute;
    display: flex;
    padding-top: 15%;
    justify-content: center;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    color: #fff;
    font-size: 0.7em;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    background-color: #0a5fad;
    border-radius: 5px;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#switch .checkbox:checked + .knob:before {
    content: "OFF";
    left: 50%;
    background-color: #f44336;
}

#switch .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}

#switch .knob,
#switch .knob:before,
#switch .layer {
    transition: 0.3s ease all;
}

.button-cover{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    color: #000;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0,.4,.8,.03);
}

.button-cover svg{
    font-size: 24px;
    margin-top: 13px;
}

.button-cover:hover{
  background-color: #2e8b57;
  color: #fff;
}

.description-input{
    background-color: white;
    margin-top: 12.5%;
    min-height: 100px;
    max-width: 150px;
    min-width: 120px;
    
}

#description{
    font-size: 1em;
    color: #aaa;
}

#description:focus-within{
    outline: none;
    border: none;
    font-size: 0.7em;
    color: black;
}


#textarea-content{
    font-size: 1.5em;
    color: gray;
}



/*Screen size*/
@media screen and (max-width: 700px) {

    .row,
    .navbar,

        {
        flex-direction: column;
    }

    .editbar {
        flex-direction: row;
    }
}
